.disabledIcon {
  color: gray;
  pointer-events: none;
}

.wrapper {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: var(--icon-margin, 0);
}

.icon {
  margin-top: 17px;
  cursor: pointer;
  font-size: var(--icon-font-size, 20px);
}
