.mainContainer {
  position: relative;
  min-height: 100vh;
  padding-bottom: 70px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 24px;
}

.paginationWrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
