.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > form {
    display: flex;
    gap: 7px;
    width: 250px;
    flex-direction: column;
  }
}

.link {
  &,
  &:visited,
  &:hover,
  &:active {
    text-decoration: underline !important;
    font-size: 18px;
    color: inherit;
    cursor: pointer;
  }
}

.error {
  padding: 10px;
  background: rgb(250, 151, 151);
}
